#sign-in-page {
  .invalid-notice {
    color: red;
    text-align: center;
    height: calc(var(--padding-xl) * 1.5);
    line-height: calc(var(--padding-xl) * 1.5);
    width: 400px;
  }
}
