@use "../../theme/abstracts/variables" as *;

#profile-page {
  display: flex;
  flex-flow: row wrap;

  .profile-name {
    grid-column: span 2;
  }

  .profile-col {
    flex: 1 1 50%;
    min-width: 0;
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-md);
  }
}

@media screen and (max-width: $window-sm) {
  #profile-page .profile-col {
    flex: 1 1 100%;
  }
}
