.listing-card {
  position: relative;
  overflow: hidden;
  width: var(--listing-width);

  &.cancelled {
    cursor: default;
    color: var(--cancelled-color);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .card-image {
    display: flex;
    max-width: var(--listing-width);
    min-height: var(--card-image-height);
  }

  .listing-card-content {
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-sm);

    .listing-card-content-item:not(:last-child) {
      border-right: 1px solid var(--border-color);
      padding-right: var(--padding-sm);
    }
  }
}
