.listing-card {
  position: relative;
  margin: 0 var(--listing-margin);
  overflow: hidden;
  min-width: var(--listing-width);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .listing-card-info {
    display: flex;
    flex-flow: row;
    gap: var(--padding-sm);

    .listing-card-info-item:not(:last-child) {
      border-right: 1px solid var(--border-color);
      padding-right: var(--padding-sm);
    }
  }
}
