.search {
  max-width: var(--page-width);
  width: 100%;
  position: relative;

  form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    input {
      flex: 1;
      padding: 0;
      width: 100%;
    }

    button {
      display: flex;
      background: none;
      padding: 0;
      margin: 0;
      flex: 0;
      box-shadow: none;
    }
  }

  .search-results {
    background-color: var(--background-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top: 1px solid var(--border-color);
    display: none;
    margin-top: calc(var(--border-radius) * -1);
    position: absolute;
    width: 100%;
    z-index: 1;

    &.open {
      display: flex;
    }

    ul {
      list-style: none;
      width: 100%;

      li {
        user-select: none;

        &:not(:last-child) {
          border-bottom: 1px solid var(--border-color);
        }

        &:last-child {
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
        }

        &:hover {
          background-color: var(--primary-color);
          color: var(--primary-color-contrast);
          border-bottom: 1px solid var(--primary-color);
          cursor: pointer;
        }

        a {
          display: block;
          padding: var(--padding-md) var(--padding-lg);
          color: var(--primary-color-contrast);
        }
      }
    }
  }
}
