.carousel-container {
  --carousel-margin: var(--padding-sm);

  display: flex;
  flex-flow: column nowrap;
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  padding: var(--carousel-margin) 0;
  max-width: calc(var(--listing-width) * 3 + var(--listing-margin) * 9);

  .carousel {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    max-width: calc(100% - var(--padding-xl) * 2);
    margin: 0 calc(var(--icon-button-size) / 2);
    left: 0;
    transition: left 250ms;
  }

  .carousel-controls button {
    position: absolute;
    z-index: 1;
    top: 46%;
  }

  .left-button {
    left: 1px;
  }

  .right-button {
    right: 1px;
  }
}
