.carousel-container {
  --carousel-margin: var(--padding-sm);

  display: flex;
  flex-flow: column nowrap;
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: 100vw;
  position: relative;

  .carousel {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    position: relative;
    max-width: calc(100% - var(--padding-xl) * 2);
    margin: 0 auto;
    padding: var(--carousel-margin);
  }

  .carousel-controls button {
    position: absolute;
    z-index: 1;
    top: 46%;
  }

  .left-button {
    left: calc(var(--listing-margin) + var(--carousel-margin));
  }

  .right-button {
    right: calc(var(--listing-margin) + var(--carousel-margin));
  }
}
