.carousel-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--dark-background-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: calc(1000px - var(--padding-xl) * 2);
  position: relative;
  margin: 0 auto;

  .carousel {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    position: relative;
  }

  .carousel-controls button {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 47.5%;
  }

  .left-button {
    left: 25px;
  }

  .right-button {
    right: 25px;
  }
}
