@mixin box-shadow($hover: false) {
  box-shadow: var(--shadow-color) 0 1px 2px 0px;

  @if($hover) {
    transition: box-shadow 250ms;

    &:hover {
      box-shadow: var(--shadow-color) 0 2px 4px 0px;
    }
  }
}

@mixin noto($style, $weight) {
  @font-face {
    font-family: "Noto Sans";
    font-style: $style;
    font-weight: $weight;

    @if $style == "normal" {
      @if $weight == "normal" {
        src: url("../assets/fonts/NotoSans-Regular.ttf");
      }
      @else {
        src: url("../assets/fonts/NotoSans-Bold.ttf");
      }
    }
    @else {
      @if $weight == "normal" {
        src: url("../assets/fonts/NotoSans-Italic.ttf");
      }
      @else {
        src: url("../assets/fonts/NotoSans-BoldItalic.ttf");
      }
    }
  }
}

@mixin margin($size, $sides...) {
  @each $side in $sides {
    margin-#{$side}: $size;
  }
}

@mixin padding($size, $sides...) {
  @each $side in $sides {
    padding-#{$side}: $size;
  }
}
