// @media variables
$window-sm: 600px;
$window-md: 875px;
$window-lg: 1150px;

:root {
  // padding
  --padding-sm: calc(var(--padding-md) / 2);
  --padding-md: 10px;
  --padding-lg: calc(var(--padding-md) * 2);
  --padding-xl: calc(var(--padding-md) * 4);

  // misc
  --border-radius: 4px;
  --page-width: 1200px;

  // element-specific
  --icon-button-size: 50px;
  --card-content-padding: var(--padding-lg);
  --nav-height: 90px;
  --listing-margin: var(--padding-md);
  --listing-width: 250px;
}
