#guide-page {
  p {
    margin-bottom: var(--padding-md);
  }

  .guide-contents {
    margin-bottom: var(--padding-lg);

    .card {
      max-width: 100%;
    }

    ol {
      margin-left: var(--padding-lg);
    }
  }
}
