.offer-table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    border: 1px solid var(--border-color);
    padding: var(--padding-sm);
  }

  .offer-actions {
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-sm);

    button {
      flex: calc(50% - var(--padding-sm));
    }
  }
}
