footer {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  height: var(--nav-height);
  padding: var(--padding-md) var(--padding-lg);
  max-width: var(--page-width);
  gap: var(--padding-md);
}
