:root {
  --primary-color: #ffd03e;
  --primary-color-contrast: #000;
  --secondary-color: #cb6600;
  --secondary-color-contrast: #000;

  // light theme
  --background-color-light: #fff;
  --text-color-light: #000;
  --text-color-md: #595959;

  // dark theme
  --background-color-dark: #000;
  --text-color-dark: #fff;

  // specific colors
  --card-color: var(--background-color-light);
  --border-color: rgba(0, 0, 0, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --cancelled-color: rgba(0, 0, 0, 0.5);
}
