:root {
  --primary-color: #ffd03e;
  --primary-color-contrast: #000;
  --secondary-color: #cb6600;
  --secondary-color-contrast: #000;

  --background-color: #fff;
  --color: #000;
  --color-light: #fff;
  --border-color: rgba(0, 0, 0, 0.3);

  // element specific
  --card-color: var(--background-color);
}
