@use "../abstracts/mixins" as *;

.flex {
  display: flex;
}

.box-shadow {
  @include box-shadow;
  border-radius: var(--border-radius);
}

.box-shadow-hover {
  @include box-shadow(true);
  border-radius: var(--border-radius);
}

.underline {
  border-bottom: 1px solid var(--border-color);
}

.emphasis {
  font-style: italic;
}

.pointer {
  cursor: pointer;
}

.required:after {
  margin-left: var(--padding-sm);
  content: "*";
  color: var(--secondary-color);
}

.action-button {
  width: 150px;
}
