@use "../abstracts/mixins" as *;

:root {
  --font-sm: 10pt;
  --font-md: 12pt;
  --font-lg: 14pt;
  --font-xl: 20pt;
}

@include noto(normal, bold);
@include noto(italic, normal);
@include noto(italic, bold);
@include noto(normal, normal);

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 100 700;
  src: url("../assets/fonts/Material-Symbols-Rounded.woff2") format("woff2");
}

.bold {
  font-weight: bold;
}

.font-lg {
  font-size: var(--font-lg);
}

.font-sm {
  font-size: var(--font-sm);
}

.center-text {
  text-align: center;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded", "sans-serif";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;

  &.dark {
    color: var(--color);
  }

  &.light {
    color: var(--color-light);
  }
}

.text-shadow-dark {
    color: var(--color-light);
    text-shadow:  0 0 6px var(--color);
}
