#listing-page {
  .listing-article {
    margin: 0 var(--padding-lg);
    display: flex;
    gap: var(--padding-md);
    max-width: var(--page-width);

    .card {
      width: 100%;
    }

    .listing-image {
      align-self: center;

      img {
        width: 100%;
      }
    }

    .listing-description {
      padding-bottom: var(--padding-lg);
    }

    .listing-actions {
      display: flex;
      flex-flow: row wrap;
      gap: var(--padding-lg);
      justify-content: end;
      align-items: center;
    }
  }
}
