.notice {
  height: calc(var(--padding-xl) * 1.5);
  line-height: calc(var(--padding-xl) * 1.5);
  max-width: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 100%;
}

.invalid {
  color: red;
}
