@use "../../theme/abstracts/mixins" as *;

.card {
  --card-image-height: 150px;

  background-color: var(--card-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column nowrap;

  .card-title {
    font-size: var(--font-lg);
    font-weight: bold;
    @include padding(var(--padding-lg), left, right, top);
  }

  .card-image {
    flex: 0;
    max-height: var(--card-image-height);

    img {
      object-fit: fill;
      width: 100%;
      max-height: var(--card-image-height);
    }
  }

  .card-content {
    padding: var(--padding-lg);
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }

  &.card-form {
    max-width: 400px;
    width: calc(100% - var(--padding-xl) * 2);
    margin: 0 var(--padding-xl);

    .form-paragraph {
      margin-bottom: var(--padding-md);
    }

    .form-line {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;

      .form-button {
        flex: 1;
      }

      &:not(:last-child) {
        margin-bottom: var(--padding-lg);
      }
    }
  }

}
