@use "../../theme/abstracts/mixins" as *;

.card {
  --card-image-height: 150px;

  background-color: var(--card-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column nowrap;

  .card-image {
    flex: 0;
    max-height: var(--card-image-height);

    img {
      object-fit: fill;
      width: 100%;
      max-height: var(--card-image-height);
    }
  }

  .card-content {
    padding: var(--padding-lg);
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }
}
