.card {
  --card-image-height: 150px;

  border-radius: var(--border-radius);
  box-shadow: var(--border-color) 0 2px 4px 0px;

  .card-image {
    flex: 0;
    max-height: var(--card-image-height);

    img {
      object-fit: fill;
      width: 100%;
      max-height: var(--card-image-height);
    }
  }

  .card-content {
    padding: var(--padding-lg);
    display: flex;
    flex-flow: column;
    flex: 1;
  }
}
