@use "../../theme/abstracts/mixins" as *;

.input-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .input-box-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;

    input {
      grid-column: 2;
    }

    .input-left, .input-right {
      color: var(--text-color-md);
      height: calc(100% - 1px);
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--border-color);
    }

    .input-left {
      grid-column: 1;
    }

    .input-right {
      grid-column: 3;
    }
  }
}
