#search-page {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - var(--padding-lg) * 2);
  max-width: var(--page-width);
  margin: 0 var(--padding-lg);
  gap: var(--padding-lg);

  .listing-search {
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-lg);
    flex: 1;
    justify-content: start;

    h2 {
      margin: 0 var(--padding-lg);
      align-self: start;
    }
  }
}
