@use "main";
@use "abstracts/mixins" as *;

:root {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: var(--font-md);
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--text-color-light);
  background-color: var(--background-color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #242FFF;
  text-decoration: inherit;

  &:hover {
    color: #000CEB;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-wrap: anywhere;
}

section, article {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

p {
  display: flex;
}

h1, h2, h3, h4 {
  width: 100%;
  margin-bottom: var(--padding-md);
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-lg);
}

input, select, textarea {
  font-family: "Noto Sans", sans-serif;
  font-size: var(--font-md);
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  border: 0;
  outline: 0;
  padding: var(--padding-md);
  box-sizing: border-box;

  &::placeholder {
    font-style: italic;
  }
}

// Hide number input spinner (Chromium)
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Hide number input spinner (Firefox)
input[type=number] {
  -moz-appearance: textfield;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
