@use "sass";

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  padding: var(--padding-xl);
}
